*{padding: 0; margin: 0; box-sizing: border-box;}


body{
    background-color: whitesmoke;
    height: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(97, 97, 97, 0.1);
    padding: 10px;
    position: sticky;
    border-bottom: 1px solid black;
}

.postagens, .usuarios, .categorias, .projetos{
    display: flex;
    
}
h2{
    margin: 10px;
    font-size: 28pt;
}
img{
    max-width: 200px;
    min-height: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px 5px;
    width: fit-content;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    flex-wrap: wrap;
    margin: 10px;
}


.card>h3{
    font-size: 25pt;
}
.card>h4{
    font-size: 20pt;
}


.login, .FormProdutos, .FormCategorias, .FormUsuarios, .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: white;
    padding: 30px;
    box-shadow: -3px 3px 5px;
}
form{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    margin: 10px;
}
.btns, .btn{
    margin-top: 10px;
}
.btns>a, .btns>button, .btn{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-size: 11pt;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: aliceblue;
}
.btns>a:hover, .btns>button:hover, .btn:hover{
    cursor: pointer;
    background-color: rgb(209, 233, 255);
}